body {
  margin: 0;
  padding: 0;
}

main .portfolio {
  box-sizing: border-box;
  width: 1020px;
  height: 870px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

main .portfolio > h1 {
  margin: 0;
  padding: 61px 0 10px 41px;

  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  font-family: "Lato-Bold";
  text-align: left;
  color: #666d89;
}

main .portfolio > p {
  display: block;
  width: 690px;
  height: 20px;
  margin: 15px 0 0 39px;

  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  text-align: justify;
  text-align: justify;
  color: #767e9e;
  letter-spacing: 0.2px;
}

main .portfolio > .filter-of-projects {
  display: flex;
  height: 22px;
  margin: 14px 0 0 41px;
}

main .portfolio > .filter-of-projects > button {
  height: 100%;
  margin-right: 10px;
  padding: 0 5px 2px 6px;

  font-weight: 400;
  font-size: 12px;
  font-family: "Lato-Bold";
  color: #767e9e;

  background: inherit;
  border: 1px solid #767e9e;
  border-radius: 5px;
  outline: none;
}

main .portfolio > .filter-of-projects > button.active {
  color: #ffffff;

  border-color: #ffffff;
}

main .portfolio > .filter-of-projects > button:hover {
  color: #ffffff;

  border-color: #ffffff;
  cursor: pointer;
}

main > .portfolio > .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 940px;
  height: 600px;
  margin: 19px 0 50px 40px;
  margin-top: 19px;
  margin-bottom: 47px;
  overflow: hidden;
}

main > .portfolio > .projects > .progect-image:nth-child(n + 13) {
  display: none;
}


/* About Us Section */

main .about-us {
  box-sizing: border-box;
  width: 1020px;
  height: 728px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

main .about-us > h1 {
  margin: 0;
  padding: 62px 0 20px 40px;

  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  font-family: "Lato-Black";
  color: #666d89;
}

main .about-us > p {
  display: block;
  width: 940px;
  height: 57px;
  margin: 1px 0 48px 40px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato-Light", sans-serif;
  text-align: justify;
  color: #767e9e;
}

main .about-us > .employee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin-left: 40px;
}

main .about-us > .employee > div {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
}

main .about-us > .employee > div > .employee-info > h2 {
  margin-top: 16px;
  margin-bottom: 10px;
  overflow: hidden;

  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  font-family: "Lato-Black";
  color: #666d89;
  white-space: nowrap;
}

main .about-us > .employee > div > .employee-info > p {
  width: 300px;
  margin-top: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato-Light", sans-serif;
  text-align: justify;
  color: #767e9e;
  letter-spacing: 0.08px;
}

main .about-us > .employee > div > .employee-info > .social-media {
  height: 32px;
  margin-top: 25px;
}

main .about-us > .employee > div > .employee-info > .social-media a {
  width: 32px;
  height: 100%;
  margin-right: 4px;
}

main .about-us > .employee > div > .employee-info > .social-media a > img:hover {
  cursor: pointer;
  filter: brightness(0);
}
